.header {
  padding: 0.1rem 1.4rem !important;
  h1 {
    font-size: 1.8rem !important;
  }
}
.spin {
  position: absolute !important;
  z-index: 999 !important;
}
.download {
  border: 1px solid var(--primary-color) !important;
  background-color: #202332 !important;
  position: absolute !important;
  top: 0.5rem;
  right: 0.5rem;
}

.promptForm {
  padding-block: 1rem !important;
  padding-inline: 1.5rem !important;
}
.promptInput {
  background-color: #262934 !important;
}

.imageContainer {
  height: 80vh !important;
  padding-block: 2.4rem !important;
  display: flex !important;
  margin-inline: auto !important  ;
  border: 1px solid #474b57 !important;
  position: relative !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 2rem !important;
  img {
    height: 100% !important;
    padding: 1rem !important;
    width: 100% !important;
    object-fit: contain !important;
  }
}
.empty {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

@media (max-width: 576px) {
  .promptForm {
    padding-block: 1rem !important;
    padding-inline: 0.5rem !important;
  }
  .header {
    padding: 0.1rem 0.5rem !important;
    h1 {
      font-size: 1.5rem !important;
      margin-top: 1.5rem !important;
      margin-bottom: 0.5rem !important;
    }
  }
}
