.header {
  width: 100vw;
  padding-block: 1rem;
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  position: sticky !important;
  z-index: 999 !important;
  h2 {
    color: var(--sub-primary-color);
  }
}

.exploreButton {
  height: 2.8rem !important;
}

@media (max-width: 576px) {
  .header {
    padding-inline: 2vw;
  }
  .exploreButton {
    height: 2.2rem !important;
    line-height: 1rem !important;
  }
}
