.header {
  width: 100vw;
  padding-block: 1rem;
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  position: sticky !important;
  z-index: 999 !important;
}
.logoWrapper {
  display: flex !important;
  margin-top: 0.3rem !important;
  h2 {
    margin-top: 0.5rem !important;
    margin-left: -0.3rem !important;
    color: var(--sub-primary-color) !important;
  }
}
.logo {
  height: 2rem !important ;
  width: auto !important;
}
.footer {
  padding-top: 3rem !important;
  padding-bottom: 2rem !important;
  display: flex !important;
  justify-content: center !important;
  p {
    color: var(--sub-primary-color) !important;
  }
}
.exploreButton {
  height: 2.8rem !important;
}

@media (max-width: 576px) {
  .footer {
    padding-top: 2rem !important;
  }
  .header {
    padding-block: 0.5rem !important;
    padding-inline: 2vw;
  }
  .exploreButton {
    height: 2.2rem !important;
    line-height: 1rem !important;
  }
}
