.ant-form-item .ant-form-item-label > label {
  color: var(--sub-primary-color) !important;
}

.ant-input {
  height: 2.2rem !important;
  color: var(--sub-primary-color) !important;
  border-color: var(--subtheme-color) !important;
  background-color: var(--subtheme-color) !important;
}

.ant-input::placeholder {
  color: gray !important;
}

.anticon svg {
  color: var(--sub-primary-color) !important;
}

.ant-input-affix-wrapper {
  background-color: var(--subtheme-color) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-color: var(--subtheme-color) !important;
}

// Ant menu global styling
.ant-menu-submenu-title:hover {
  .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-arrow::after {
    background: var(--primary-color) !important;
  }
}

.ant-menu > .ant-menu-title-content :hover {
  color: var(--primary-color) !important;
}
:where(.css-dev-only-do-not-override-22j71r).ant-menu-light.ant-menu-submenu
  > .ant-menu {
  color: var(--sub-primary-color) !important;
  background-color: var(--subtheme-color) !important;
}

.ant-menu-submenu-title:hover:not(.ant-menu-selected):not(
    .ant-submenu-selected
  ) {
  color: var(--primary-color) !important;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-item-active {
  color: var(--sub-primary-color) !important;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: var(--sub-theme-color) !important;
}

.ant-notification .ant-notification-notice {
  background-color: var(--subtheme-color) !important;
  color: var(--sub-primary-color) !important;
}
.my-custom-icon-class svg {
  color: var(
    --primary-color
  ) !important; /* Change the color to your desired value */
}

.ant-notification-notice-message {
  color: var(--sub-primary-color) !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  color: var(--sub-primary-color) !important;
  border-color: #32343d !important;
  background-color: #262934 !important;
  width: 8rem !important;
}
.ant-select-selection-placeholder {
  color: var(--sub-primary-color) !important;
}

.ant-select-dropdown {
  background-color: #32343d !important;
  color: var(--sub-primary-color) !important;
}
.ant-select-item-option {
  color: white !important;
}
.ant-select-item-option-selected {
  background-color: #292b31 !important;
}
.ant-select-single.ant-select-open .ant-select-selection-item {
  color: var(--sub-primary-color) !important;
}
.ant-modal .ant-modal-content {
  background-color: #32343d !important;
}

.ant-table-thead .ant-table-cell {
  background-color: var(--theme-color) !important;
  border: 1px solid #393a43 !important;
  color: var(--sub-primary-color) !important;
}
.ant-table-tbody .ant-table-cell {
  background-color: var(--subtheme-color) !important;
  border: 1px solid #393a43 !important;
  color: var(--sub-primary-color) !important;
}
.ant-menu-submenu-title:hover {
  .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-arrow::after {
    background: var(--primary-color) !important;
  }
}
.ant-pagination .ant-pagination-item-active a {
  color: var(--sub-primary-color) !important;
  background-color: #393a43 !important;
  border-color: var(--sub-theme-color) !important;
}

.ant-pagination .ant-pagination-item a {
  color: var(--sub-primary-color) !important;
  background-color: #272838 !important;
}

.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background-color: transparent !important;
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-header-text {
  color: var(--sub-primary-color) !important;
}

.ant-collapse-large
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 1rem !important;
  color: var(--sub-primary-color) !important;
  background-color: #262934 !important;
}

.ant-empty-normal .ant-empty-description {
  color: var(--sub-primary-color) !important;
}
