.imageContainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 2rem;
  min-height: 70vh;
}

.imageScreen {
  h1 {
    color: var(--sub-primary-color);
    text-align: center !important;
    font-size: 2rem !important;
  }
}

.image {
  height: 65vh !important;
  width: auto !important;
  border: 1px solid rgb(56, 53, 53) !important;
  padding: 1rem !important;
}

.imageInfo {
  margin: 0 !important;
  padding: 0 !important;
}
.uploadButton {
  color: var(--primary-color) !important;
  background-color: transparent !important;
  border: 1px solid var(--primary-color) !important;
}
.hashtagHeader {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}
.hashtagButtons {
  display: flex !important;
  gap: 0.7rem !important;
  margin-bottom: -0.5rem;
}
.hashtagContainer {
  max-height: 22rem !important;
  overflow-y: scroll !important;
}
.hashtagContainer::-webkit-scrollbar {
  width: 0.2rem;
}
.hashtagContainer::-webkit-scrollbar-track-piece {
  background: #3d3d3d;
}
.hashtagContainer::-webkit-scrollbar-thumb {
  background: gray;
}
.hashtagContainer::-webkit-scrollbar-button {
  display: none !important;
}
.copyIcon {
  margin-right: 0.3rem !important;
  color: var(--sub-primary-color) !important;
}
.tag {
  background-color: transparent !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}
.hashTags {
  max-width: 25rem !important;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 0.5rem !important;
}

@media (max-width: 700px) {
  .image {
    height: 50vh !important;
  }
  .imageContainer {
    min-height: 50vh !important;
  }
  .uploadContainer {
    padding-inline: 0.7rem !important;
  }
  .hashtagContainer {
    margin-bottom: 2rem !important;
  }
}

@media (max-width: 500px) {
  .image {
    height: 40vh !important;
    max-width: 95vw !important;
    object-fit: contain !important;
  }
  .imageContainer {
    gap: 0.8rem !important;
  }
  .uploadContainer {
    padding-inline: 1.5rem !important;
    p {
      line-height: 1.2rem !important;
    }
  }
  .imageScreen {
    h1 {
      font-size: 1.5rem !important;
    }
  }
}

@media (max-width: 330px) {
  .hashtagButtons {
    gap: 0.5rem !important;
    .uploadButton {
      font-size: 0.7rem !important;
    }
    .hashButton {
      font-size: 0.7rem !important;
    }
  }
}

@media (max-width: 275px) {
  .hashtagButtons {
    flex-wrap: wrap !important;
  }
}
