.logoContainer {
  display: flex;
  font-size: 1.4rem;
  padding-left: 0.5rem;
  justify-content: space-between;
  color: var(--sub-primary-color);
}

.header {
  padding-left: 0.5rem !important;
  padding-right: 1rem !important;
  display: flex !important;
  z-index: 988;
  align-items: center !important;
  justify-content: space-between !important;
  color: var(--sub-primary-color) !important;
  background-color: var(--theme-color) !important;
}
.menu {
  background-color: var(--theme-color) !important;
  font-size: 1rem !important;
}

.sidebar {
  position: relative !important;
  height: 100vh !important;
  z-index: 999;
  background-color: var(--theme-color) !important;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.content {
  max-height: 100vh !important;
  color: var(--sub-primary-color) !important;
  background-color: var(--subtheme-color) !important;
}
.toggle {
  background-color: transparent !important;
}

.close {
  display: none !important;
}

.sideLayout {
  height: 100vh;
}

@media (max-width: 1106px) {
  .close {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex !important;
  }
  .sidebar {
    position: fixed !important;
    width: 80vw !important;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: relative !important;
  }
}
