.logoContainer {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: -1.2rem !important;
}
.logoWrapper {
  margin-top: 0.3rem !important;
  display: flex !important;
  padding: 1rem !important;
  img {
    height: 2rem !important;
  }
  h2 {
    font-size: 1.6rem !important;
    margin-top: 0.5rem !important;
    margin-left: -0.3rem !important;
    color: var(--sub-primary-color) !important;
  }
}

.header {
  padding-left: 0.5rem !important;
  padding-right: 1rem !important;
  display: flex !important;
  z-index: 988;
  align-items: center !important;
  justify-content: space-between !important;
  color: var(--sub-primary-color) !important;
  background-color: var(--theme-color) !important;
}
.menu {
  background-color: var(--theme-color) !important;
  font-size: 1rem !important;
}

.sidebar {
  position: relative !important;
  height: 100vh !important;
  z-index: 999;
  background-color: var(--theme-color) !important;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.content {
  color: var(--sub-primary-color) !important;
  overflow: scroll !important;
  background-color: var(--subtheme-color) !important;
}

.content::-webkit-scrollbar {
  display: none !important;
}

.toggle {
  background-color: transparent !important;
}

.close {
  display: none !important;
}

.sideLayout {
  height: 100vh;
}

@media (max-width: 1106px) {
  .close {
    padding-inline: 1rem !important;
    margin-bottom: 0.7rem !important;
    font-size: 1.2rem;
    display: flex !important;
  }
  .sidebar {
    position: fixed !important;
    width: 80vw !important;
  }
  .hide {
    display: none !important;
    transition: 2s ease-in-out !important;
  }
  .show {
    display: relative !important;
  }
}
