.summarizeHeader {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 1rem;
  padding: 0.5rem 1rem !important;
  h2 {
    font-size: 1.6rem;
  }
}
.summary {
  max-height: 25vw;
  padding-inline: 0.8rem;
  overflow-y: scroll;
}

.summary::-webkit-scrollbar {
  width: 0.3rem;
}
.summary::-webkit-scrollbar-track-piece {
  background: gray;
}
.summary::-webkit-scrollbar-thumb {
  background: #3d3d3d;
}
.summary::-webkit-scrollbar-button {
  display: none !important;
}

.summarizeBody {
  margin-top: 1rem;
  padding-inline: 1.2rem;
  display: flex !important;
  justify-content: space-between !important;
  gap: 1rem !important;
  .input {
    background-color: #262934 !important;
    border: 1px solid #474b57 !important;
  }
}

.divider {
  margin: 0.5rem 1vw !important;
  background-color: #474b57 !important;
}

.summaryCard {
  margin: 2rem 1vw !important;
  font-size: 1rem !important;
  border-color: #32343d !important;
  background-color: #262934 !important;
  color: var(--sub-primary-color) !important;
}

.audioTranslation {
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  div {
    margin-inline: auto;
  }
}

.warn {
  text-align: center;
  color: rgb(252, 179, 43);
  margin-top: 2rem;
}
@media (max-width: 576px) {
  .translations {
    display: flex !important;
    align-items: center;
  }
  .summaryCard {
    margin-inline: 0.8rem !important;
  }
  .summarizeHeader {
    padding-top: 1rem !important;
    margin-top: 0.5rem !important;
    flex-direction: column-reverse !important;
    align-items: flex-end !important;
    gap: 1rem;
  }
  .summarizeBody {
    flex-wrap: wrap;
    justify-content: flex-start !important;
    gap: 1rem !important;
    .input {
      width: 100% !important;
    }
  }
  .infoContainer {
    h1 {
      font-size: 1.5rem;
    }
  }
}
