.banner {
  height: 90vh !important;
  color: var(--sub-primary-color);
  background-color: var(--theme-color);
  display: grid !important;
  width: 100%;
  overflow: hidden;
}
.info {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  h1 {
    font-size: 3rem !important;
    line-height: 3.5rem;
    text-align: center !important;
    margin: 0;
    .title {
      color: var(--primary-color) !important;
    }
  }
  p {
    line-height: 1.9rem;
    font-size: 1.4rem;
    margin: 1.5rem 0 !important;
    text-align: center;
    padding-inline: 3rem !important;
  }
}

.featureButton,
.learnMoreButton {
  font-weight: bold;
  width: 100% !important;
}
.content {
  display: flex !important;
  justify-content: center !important;
}
.featureButton {
  background-color: #c1a104 !important;
}
.featureContainer {
  display: flex !important;
  justify-content: space-between !important;
  gap: 2rem !important;
  padding-bottom: 2rem !important;
}
.featureCard {
  background-color: transparent !important;
  border-color: var(--primary-color) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  color: var(--sub-primary-color) !important;
  height: 16rem !important;
  h2 {
    color: var(--primary-color);
  }
}

.buttonContainer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 850px) {
  .banner {
    padding-bottom: 2.5rem !important;
  }
}

@media (max-width: 576px) {
  .banner {
    height: 110% !important;
  }
  .info {
    align-items: flex-start !important;
    justify-content: flex-start !important;

    h1 {
      font-size: 2rem !important;
      text-align: left !important;
      word-wrap: break-word !important;
    }
    h2 {
      font-size: 1rem !important;
    }
    p {
      line-height: 1.4rem;
      font-size: 0.9rem;
      // text-align: left;
      padding-inline: 0 !important;
    }
  }
  .featureContainer {
    justify-content: center !important;
  }

  .buttonContainer {
    width: 95% !important;
    flex-wrap: wrap !important;
    margin-inline: auto !important;
  }
}

@media (max-width: 310px) {
  .info {
    h1 {
      font-size: 1.6rem !important;
    }
  }
}
