.logoContainer {
  display: flex;
  font-size: 1.4rem;
  padding-left: 0.5rem;
  justify-content: space-between;
  color: var(--sub-primary-color);
}

.header {
  padding-left: 0.5rem !important;
  padding-right: 1rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  color: var(--sub-primary-color) !important;
  background-color: var(--theme-color) !important;
}
.menu {
  background-color: var(--theme-color) !important;
  font-size: 1rem !important;
}

.sidebar {
  position: relative !important;
  height: 100vh !important;
  z-index: 999 !important;
  background-color: var(--theme-color) !important;
}
.content {
  color: var(--sub-primary-color) !important;
  background-color: var(--subtheme-color) !important;
}
.toggle {
  background-color: transparent !important;
}

.close {
  display: none !important;
}
.icon {
  font-size: 2rem !important;
}
.card {
  cursor: pointer !important;
  background-color: #262934 !important;
  border-color: #262934 !important;
  width: 100% !important;
  h2 {
    color: var(--sub-primary-color) !important;
  }
}
.card:hover {
  scale: 1.02;
}
.cardDiv {
  height: 85vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  gap: 2rem !important;
  h1 {
    font-size: 2rem !important;
  }
}
.cardContainer {
  display: flex !important;
  gap: 2rem !important;
  justify-content: center !important;
}

@media (max-width: 775px) {
  .cardDiv {
    height: auto !important;
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 576px) {
  .close {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex !important;
  }
  .sidebar {
    position: fixed !important;
    width: 80vw !important;
  }
  .cardDiv {
    .cardContainer {
      gap: 1.7rem !important;
    }
    h1 {
      margin-bottom: 0 !important;
    }
    h2 {
      font-size: 1.2rem !important;
    }
  }
}
